[Unit]
Description=gunicorn daemon for UZEnergoTaminlash
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/www/systemc/UZETLAST
EnvironmentFile=/var/www/systemc/UZETLAST/.env
ExecStart=/var/www/systemc/UZETLAST/.venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          config.wsgi:application

[Install]
WantedBy=multi-user.target
